<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="http://localhost:8080/socket.io/socket.io.js"></script>
</html>
<body>
<script>
    var message = [];
//
    //var socket = io.connect('http://localhost:8080');
//socket.on('hay', function (data) {
//alert (data);
//});


window.onload = function() {
    document.getElementById('startButton').onclick = function() {
        iochat(document.getElementById('nickname').value);


    };



//    document.getElementById('startButton').onblur = function() {
//        iochat(document.getElementById('nickname').value);
//    }

};


function iochat(nick) {
    var socket = io.connect('http://localhost:8080');

//    socket = io.connect('http://localhost:8080');
//    socket.on('news', function () {
//        socket.send(nick);
//    });
//    socket.on('message', function (msg) {
//        alert(msg);
//    });

    socket.on('news', function (data) {
        var para = document.createElement("p");
        var node = document.createTextNode(""+data.my+"");
        console.log("teg",para);
        para.appendChild(node);
        var element = document.getElementById("div1");
        console.log("div",element);
        element.appendChild(para);
        message.push(data);
        console.log(data);
        socket.emit('my other event', { my: nick });
    });



}
//
//function blue() {
//    socket.on('news', function (data) {
//        console.log(data);
//        socket.emit('my other event', { my: 'blue' });
//    });
//}

</script>

Введите ник: <input type="text" id="nickname"/>
<input type="button" value="Start chat" id="startButton"/>
<div id="div1"></div>

</body>
</html>