<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="http://localhost:8080/socket.io/socket.io.js"></script>
</html>
<body>
<script>
    var socket = io.connect('http://localhost:8080');

    window.onload = function () {
        document.getElementById('startButton').onclick = function () {
            iochat(document.getElementById('nickname').value);
        };

    };
    function iochat(nick) {
        var para = document.createElement("li");
        var element = document.getElementById("div1");
        element.appendChild(para);

        /**
         * send server request and  waiting of response where response come append <ul> tag <li> child tag withe sent text
         */
        socket.emit('news', {my: nick}, function (data) {
            para.appendChild(document.createTextNode(nick));
            element.appendChild(para);
        });

    }


    /**
     * where is anybody send message on server and server send we this message and we append <ul> tag <li> child tag withe sent text
     */
    socket.on('news', function (data) {
        var para = document.createElement("li");
        var element = document.getElementById("div1");
        console.log("div", element);
        element.appendChild(para);
        para.appendChild(document.createTextNode(data.my));
        element.appendChild(para);
    });


</script>

Введите ник: <input type="text" id="nickname"/>
<input type="button" value="Start chat" id="startButton"/>
<ul id="div1">


</ul>

</body>
</html>